<aside class="admin-aside">
    <nav>
        <h4>Разделы сайта</h4>
<ul>
    <li>
        <a href="/admin/home">главная</a>
    </li>
    <li>
        <a href="/admin/works">работы</a>
    </li>
    <li>
        <a href="/admin/articles">статьи</a>
    </li>
    <li>
        <a href="/admin/training">Обучение</a>
    </li>
    <li>
        <a href="/admin/video">видео</a>
    </li>
    <li>
        <a href="/admin/questions">вопросы ответы</a>
    </li>

    <h4>Модерация</h4>

    <li>
        <a href="/admin/users">пользователи</a>
    </li>
    <li>
        <a href="/admin/order">оплата</a>
    </li>
    <li>
        <a href="/admin/seo">СЕО</a>
    </li>
    <li>
        <a href="/admin/analytics">Аналитика</a>
    </li>
    <li>
        <a href="/admin/settings">настройки</a>
    </li>

</ul>

</nav>
</aside>