<aside>
    <nav>
        <div class="container">
            <ul>
                <li>
                    <a href="/">главная</a>
                </li>
                <li>
                    <a href="/works">работы</a>
                </li>
                <li>
                    <a href="/articles">статьи</a>
                </li>
                <li>
                    <a href="/training">обучение</a>
                </li>
                <li>
                    <a href="/video">видео</a>
                </li>
                <li>
                    <a href="/questions">вопросы и ответы</a>
                </li>
                <li>
                    <a href="/login">вход</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>