<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
        <div class="container flx aligned">
            <div class="logo">
                <!-- <h1>Метод Фрейда</h1> -->
                <h1>
                    <%= data.heading %>
                </h1>
            </div>
            <div class="search">
                <form action="/search" method="post">
                    <input type="text" name="keywords" placeholder="Поиск">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </header>
    <nav class="top-navigation">
        <div class="container">
            <ul>
                <li>
                    <a href="/">главная</a>
                </li>
                <li>
                    <a href="/works">работы</a>
                </li>
                <li>
                    <a href="/articles">статьи</a>
                </li>
                <li>
                    <a href="/training">обучение</a>
                </li>
                <li>
                    <a href="/video">видео</a>
                </li>
                <li>
                    <a href="/questions">вопросы и ответы</a>
                </li>
                <li>
                    <a href="/login">вход</a>
                </li>
            </ul>
        </div>
    </nav>