<%- include('layouts/header') %>
    <main>
<%- include('layouts/aside') %>
        <div class="content">
                        
                <div class="post">
                    <div class="post-content flx">
                        <div class="photo">
                            <img src="data.image" alt="">
                        </div>
                        <div class="body">
                            <div class="title"><%= data.title %></div>
                            <p><%= data.content %></p>
                        </div>
                    </div>
                </div>

        </div>
    </main>
</body>
</html>