<%- include('layouts/header') %>

    <main>
        <%- include('layouts/aside') %>
        
        <div class="content">
        
            
            <h2><%= data.title %></h2>
            <p><%= data.content %></p>
        

        </div>
        
    </main>
</body>
</html>