<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <main>
       
        <div class="content training-content">
           
            <div class="training-search flx"> <!-- training header -->

                <div class="title">
                    <h2>Образовательная платформа</h2>
                </div>

                <div class="favorites cart">
                    <a href="/favorites">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>

                <div class="greetings flx">
                    <div class="avatar">
                        <img src="freud.jpg" alt="">
                    </div>
                    <div class="greeting">
                        <p>Здравствуйте, Ольга М.</p>
                        <a href="/logout">Выйти</a>
                    </div>
                </div>

               

            </div> <!-- training header -->

            <div class="titles"> <!-- titles -->
                
                <div class="training-title">
                    <h1>Потеря смысла жизни</h1>
                </div>
                
                <div class="course-short-description">
                    <p>Описание курса</p>
                </div>

            </div> <!-- titles -->


            <div class="course-content flx">


                <div class="about-course">
                    <h2>О курсе</h2>
                    <p>В повседневной жизни мы пользуемся самыми разнообразными цифровыми устройствами, и каждый из нас генерирует огромные объемы информации за свою жизнь. И для хранения и обработки такого объема информации созданы специальные технологии которые любят называть таинственным словом Big Data.
    
                        Специалистам в сфере науке о данных так или иначе приходится работать со специальными хранилищами и технологиями используемыми для хранения и обработки больших данных.
                        
                        В данном курсе мы познакомимся с технологиями из мира больших данных, рассмотрим как их можно применять для обработки данных и в машинном обучении. Рассмотрим и изучим процессы параллельной и распределенной обработки больших объемов данных.
                        
                        Разберемся как работают системы для хранения больших данных, рассмотрим основные принципы обработки таких объемов данных.
                        Познакомимся с фреймворками Hadoop, Spark, Airflow, специальными хранилищами данных HDFS, ClickHouse, а так же с BI инструментом SuperSet.
                        Изучим работу распределенного машинного обучения и его применение с использованием модуля SparkML.
                        
                        Мы будем решать практические задания на языках Python и SQL поэтому вам потребуется навыки программирования на базовом уровне.
                        
                        Перед покупкой рекомендуем также посмотреть более полное описание программы!</p>
                
                
                        <div class="our-trainers">
                            <h2>Наши преподаватели</h2>
                            
                            <div class="personality flx">
                                <div class="photo">
                                    <img src="img/userpic.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="name">Петр Васнецов</div>
                                    <div class="personality-description">
                                        <p>Специалист в области когнитивно-поведенческой терапии с 2000 года</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="personality flx">
                                <div class="photo">
                                    <img src="img/userpic.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="name">Петр Васнецов</div>
                                    <div class="personality-description">
                                        <p>Специалист в области когнитивно-поведенческой терапии с 2000 года</p>
                                    </div>
                                </div>
                            </div>
                        
                        </div>

                        <div class="course-program">
                            <h2>Программа курса</h2>
                            <a href="">Занятие 1 - Когнитивно-поведенческая терапия - 26 декабря 2021 18:00-20:00</a>
                            <a href="">Занятие 2 - Как осознать себя? - 28 декабря 2021 18:00-20:00</a>
                            <a href="">Занятие 3 - Как вылечить страхи - 29 декабря 2021 18:00-20:00</a>
                            <a href="">Занятие 4 - Как определиться в профориентации - 8 января 2022 11:00-14:00</a>
                        </div>

                        <div class="testimonials">
                            <h2>Отзывы прошедших курс</h2>
                            
                        </div>

                        <div class="share">
                            <h2>Расскажите друзьям</h2>
                        </div>

                    </div>
    
                <div class="right-side">
                    
                    <div class="price">30 000 ₽</div>

                    <a href="/order" class="buy">Заказать</a>

                    <a href="/cart/add" class="cart-link">
                        <i class="fa fa-heart"></i>Хочу пройти
                    </a>

                    <p class="schedule">15 января - 25 февраля 2022 г.</p>

                    <div class="includes">
                        <h3>В курс входит</h3>
                        <p>15 занятий</p>
                        <p>30 тестов</p>
                        <a href="#">Программа курса</a>
                        <h5>Последнее обновление: 25.12.2021</h5>
                    </div>

                </div>

                

            </div>
           

            
          
        </div>
    </main>


    <footer class="landing">
        <div class="container">
            &copy; 2022 Все права защищены
        </div>
    </footer>
    
</body>
</html>