<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <main>
       
        <div class="content training-content">
           
            <div class="training-search flx"> <!-- training header -->

                <div class="title">
                    <h2>Образовательная платформа</h2>
                </div>

                <div class="favorites cart">
                    <a href="/favorites">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>

                <div class="greetings flx">
                    <div class="avatar">
                        <img src="freud.jpg" alt="">
                    </div>
                    <div class="greeting">
                        <p>Здравствуйте, Ольга М.</p>
                        <a href="/logout">Выйти</a>
                    </div>
                </div>

               
            </div> <!-- training header -->

           <div class="process-main flx">
                <aside class="process-aside">
                    <a href="">шаг 1</a>
                    <a href="">шаг 2</a>
                    <a href="">шаг 3</a>
                    <a href="">шаг 4</a>
                    <a href="">шаг 5</a>
                    <a href="">шаг 6</a>
                    <a href="">шаг 7</a>
                    <a href="">шаг 8</a>
                    <a href="">шаг 9</a>
                    <a href="">шаг 10</a>
                </aside>
            
                <div class="process-content">
                    <div class="titles"> <!-- titles -->
                        
                        <div class="training-title">
                            <h1>Курс: Потеря смысла жизни</h1>
                        </div>
           
                    </div>

                    <div class="video-step">
                        <video src="freud.mp4"></video>
                    </div>

                    <div class="test">
                        
                    </div>

                </div>
           </div>
           

            
          
        </div>
    </main>


    <footer class="landing">
        <div class="container">
            &copy; 2022 Все права защищены
        </div>
    </footer>
    
</body>
</html>