<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
   
    <main>
       
        <div class="content training-content">
           
            <div class="training-search flx"> <!-- training header -->

                <div class="title">
                    <h2>Образовательная платформа</h2>
                </div>

                <div class="favorites cart">
                    <a href="/favorites">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>

                <div class="greetings flx">
                    <div class="avatar">
                        <img src="freud.jpg" alt="">
                    </div>
                    <div class="greeting">
                        <p>Здравствуйте, Ольга М.</p>
                        <a href="/logout">Выйти</a>
                    </div>
                </div>


            </div>

            <div class="titles flx">
                
                <div class="training-title">
                    <h1>Онлайн курсы</h1>
                </div>
                
                <form action="#">
                <div class="searching flx">
                    
                        
                        <div class="search">
                            <input type="text" placeholder="Введите поисковый запрос...">
                        </div>

                        <div class="checkboxes flx">
                            <div class="checkbox-item flx">
                                <h5>С сертификатами</h5><input type="checkbox" name="" id="" checked>    
                            </div>
                            <div class="checkbox-item flx">
                                <h5>Бесплатные</h5><input type="checkbox" name="" id="" checked>
                            </div>
                        </div>

                        <div class="select">
                            <select name="" id="">
                                <option value="">Категории</option>
                                <option value="">Депрессия</option>
                                <option value="">Страхи</option>
                                <option value="">Психиатрия</option>
                                <option value="">Терапия</option>
                                <option value="">Когнитивистика</option>
                            </select>
                        </div>

                        <div class="search-button">
                            <button>Искать</button>
                        </div>

                    
                </div>

            </form>

            </div> <!-- titles -->

            <div class="optional tags">  <!-- optional tags -->
                <h5>теги - (быстрый поиск по ключевым словам)</h5>
                <div class="tag-row">
                    <a href="#">страхи</a>
                    <a href="#">фобия</a>
                    <a href="#">смысл_жизни</a>
                    <a href="#">поиск_себя</a>
                    <a href="#">прокрастинация</a>
                    <a href="#">комплекс_неудачника</a>
                    <a href="#">комплекс_бабочки</a>
                    <a href="#">мужчина и женщина</a>
                </div>
                
                <div class="tag-row">
                    <a href="#">найти_себя</a>
                    <a href="#">депрессия</a>
                    <a href="#">наркотики</a>
                    <a href="#">суицид</a>
                    <a href="#">обида</a>
                    <a href="#">родители дети</a>
                    <a href="#">здоровье</a>
                    <a href="#">карьера</a>
                    <a href="#">деньги</a>
                    <a href="#">шизофрения</a>
                    <a href="#">аутизм</a>
                    <a href="#">кто я?</a>
                </div>
                
            </div>  <!-- optional tags -->

            <div class="tabs flx">
                <div class="tab active">Новые курсы</div>
                <div class="tab">Популярные курсы</div>
                <div class="tab">Подборка</div>
                <div class="tab">Бесплатные</div>
            </div>

            <div class="courses flx">
                    
                    <div class="course">
                        <div class="heart-icon">
                            <a href="/cart/add">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>

                        <div class="photo">
                            <a href="/course">
                                <img src="img/depression/8.jpg" alt="">
                            </a>
                        </div>
                        
                        <div class="title">
                            <h2>Потеря смысла жизни</h2>
                        </div>
                        
                        <div class="views flx">
                            <div class="eye-icon">
                                <i class="fa fa-eye"></i>
                            </div>                            
                            <div class="views">
                                <p>8125 просмотров</p>
                            </div>
                        </div>
                    
                        <div class="price">25 000 рублей</div>
                    
                    </div>
                    
                    <div class="course">
                        <div class="heart-icon">
                            <a href="/works">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="photo">
                            <a href="/">
                                <img src="img/depression/2.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <h2>Депрессия</h2>
                        </div>
                        <div class="views flx">
                            <div class="eye-icon">
                                <i class="fa fa-eye"></i>
                            </div>                            
                            <div class="views">
                                <p>8020 просмотров</p>
                            </div>
                        </div>

                        <div class="price">25 000 рублей</div>

                    </div>
                    
                    <div class="course">
                        <div class="heart-icon">
                            <a href="/works">
                                <i class="fa fa-heart"></i>
                            </a>
                        </div>
                        <div class="photo">
                            <a href="/">
                                <img src="img/depression/3.jpg" alt="">
                            </a>
                        </div>
                        <div class="title">
                            <h2>Прокрастинация</h2>
                        </div>
                        <div class="views flx">
                            <div class="eye-icon">
                                <i class="fa fa-eye"></i>
                            </div>                            
                            <div class="views">
                                <p>7925 просмотров</p>
                            </div>
                        </div>

                        <div class="price">25 000 рублей</div>

                    </div>

                    
            </div>

            <div class="courses flx">
                    
                <div class="course">
                    <div class="heart-icon">
                        <a href="/works">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>
                    <div class="photo">
                        <a href="/">
                            <img src="img/depression/10.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <h2>Одиночество</h2>
                    </div>
                    <div class="views flx">
                        <div class="eye-icon">
                            <i class="fa fa-eye"></i>
                        </div>                            
                        <div class="views">
                            <p>7000 просмотров</p>
                        </div>
                    </div>

                    <div class="price">25 000 рублей</div>

                </div>
                
                <div class="course">
                    <div class="heart-icon">
                        <a href="/works">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>
                    <div class="photo">
                        <a href="/">
                            <img src="img/depression/6.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <h2>Сценарий на неудачу</h2>
                    </div>
                    <div class="views flx">
                        <div class="eye-icon">
                            <i class="fa fa-eye"></i>
                        </div>                            
                        <div class="views">
                            <p>6873 просмотра</p>
                        </div>
                    </div>
                    
                    <div class="price">25 000 рублей</div>

                </div>
                
                <div class="course">
                    <div class="heart-icon">
                        <a href="/works">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>
                    <div class="photo">
                        <a href="/">
                            <img src="img/depression/7.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <h2>Найти себя</h2>
                    </div>
                    <div class="views flx">
                        <div class="eye-icon">
                            <i class="fa fa-eye"></i>
                        </div>                            
                        <div class="views">
                            <p>6511 просмотров</p>
                        </div>
                    </div>


                    <div class="price">25 000 рублей</div>

                </div>

                
        </div>

        <div class="courses flx">
                    
            <div class="course">
                <div class="heart-icon">
                    <a href="/works">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                <div class="photo">
                    <a href="/">
                        <img src="img/depression/1.jpg" alt="">
                    </a>
                </div>
                <div class="title">
                    <h2>Стрессоустойчивость</h2>
                </div>
                <div class="views flx">
                    <div class="eye-icon">
                        <i class="fa fa-eye"></i>
                    </div>                            
                    <div class="views">
                        <p>4095 просмотров</p>
                    </div>
                </div>

                <div class="price">25 000 рублей</div>

            </div>
            
            <div class="course">
                <div class="heart-icon">
                    <a href="/works">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                <div class="photo">
                    <a href="/">
                        <img src="img/depression/11.jpg" alt="">
                    </a>
                </div>
                <div class="title">
                    <h2>Обида: сценарий отложенной жизни</h2>
                </div>
                <div class="views flx">
                    <div class="eye-icon">
                        <i class="fa fa-eye"></i>
                    </div>                            
                    <div class="views">
                        <p>3745 просмотров</p>
                    </div>
                </div>

                <div class="price">25 000 рублей</div>

            </div>
            
            <div class="course">
                
                <div class="heart-icon">
                    <a href="/works">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                
                <div class="photo">
                    <a href="/">
                        <img src="img/depression/9.jpg" alt="">
                    </a>
                </div>
                
                <div class="title">
                    <h2>Страхи, фобии</h2>
                </div>
                
                <div class="views flx">
                    <div class="eye-icon">
                        <i class="fa fa-eye"></i>
                    </div>                            
                    <div class="views">
                        <p>1025 просмотров</p>
                    </div>
                </div>

                <div class="price">25 000 рублей</div>
                
            </div>
            
    </div>
          
        </div>
    </main>


    <footer class="landing">
        <div class="container">
            &copy; 2022 Все права защищены
        </div>
    </footer>
    
</body>
</html>