<%- include('layouts/header') %>
    <main>
<%- include('layouts/aside') %>
        <div class="content video">
           


            <div class="training-title">
                <h1>Видео</h1>
            </div>

            <div class="tabs flx">
                <div class="tab active">Новые курсы</div>
                <div class="tab">Популярные курсы</div>
                <div class="tab">Подборка</div>
                <div class="tab">Победители</div>
            </div>

 
            <div class="courses flx">
                    
                <div class="course">
                    <div class="heart-icon">
                        <a href="/works">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>

                    <div class="photo">
                        <a href="/">
                            <img src="img/depression/8.jpg" alt="">
                        </a>
                    </div>
                    
                    <div class="title">
                        <h2>Потеря смысла жизни</h2>
                    </div>
                    
                    <div class="views flx">
                        <div class="eye-icon">
                            <i class="fa fa-eye"></i>
                        </div>                            
                        <div class="views">
                            <p>8125 просмотров</p>
                        </div>
                    </div>
                
                    <div class="price free">БЕСПЛАТНО</div>
                
                </div>
                
                <div class="course">
                    <div class="heart-icon">
                        <a href="/works">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>
                    <div class="photo">
                        <a href="/">
                            <img src="img/depression/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <h2>Депрессия</h2>
                    </div>
                    <div class="views flx">
                        <div class="eye-icon">
                            <i class="fa fa-eye"></i>
                        </div>                            
                        <div class="views">
                            <p>8020 просмотров</p>
                        </div>
                    </div>

                    <div class="price">25 000 рублей</div>

                </div>
                
                <div class="course">
                    <div class="heart-icon">
                        <a href="/works">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>
                    <div class="photo">
                        <a href="/">
                            <img src="img/depression/3.jpg" alt="">
                        </a>
                    </div>
                    <div class="title">
                        <h2>Прокрастинация</h2>
                    </div>
                    <div class="views flx">
                        <div class="eye-icon">
                            <i class="fa fa-eye"></i>
                        </div>                            
                        <div class="views">
                            <p>7925 просмотров</p>
                        </div>
                    </div>

                    <div class="price">25 000 рублей</div>

                </div>

                
        </div>



        <div class="courses flx">
                    
            <div class="course">
                <div class="heart-icon">
                    <a href="/works">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>

                <div class="photo">
                    <a href="/">
                        <img src="img/depression/8.jpg" alt="">
                    </a>
                </div>
                
                <div class="title">
                    <h2>Потеря смысла жизни</h2>
                </div>
                
                <div class="views flx">
                    <div class="eye-icon">
                        <i class="fa fa-eye"></i>
                    </div>                            
                    <div class="views">
                        <p>8125 просмотров</p>
                    </div>
                </div>
            
                <div class="price">25 000 рублей</div>
            
            </div>
            
            <div class="course">
                <div class="heart-icon">
                    <a href="/works">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                <div class="photo">
                    <a href="/">
                        <img src="img/depression/2.jpg" alt="">
                    </a>
                </div>
                <div class="title">
                    <h2>Депрессия</h2>
                </div>
                <div class="views flx">
                    <div class="eye-icon">
                        <i class="fa fa-eye"></i>
                    </div>                            
                    <div class="views">
                        <p>8020 просмотров</p>
                    </div>
                </div>

                <div class="price">25 000 рублей</div>

            </div>
            
            <div class="course">
                <div class="heart-icon">
                    <a href="/works">
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
                <div class="photo">
                    <a href="/">
                        <img src="img/depression/3.jpg" alt="">
                    </a>
                </div>
                <div class="title">
                    <h2>Прокрастинация</h2>
                </div>
                <div class="views flx">
                    <div class="eye-icon">
                        <i class="fa fa-eye"></i>
                    </div>                            
                    <div class="views">
                        <p>7925 просмотров</p>
                    </div>
                </div>

                <div class="price">25 000 рублей</div>

            </div>

            
    </div>






        </div>
    </main>
</body>
</html>