<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <header class="admin-header flx">
        
        <div class="logo">
            <h1>Админ панель</h1>
        </div>

       
    </header>
    
    <main class="flx">


    <%- include('../../layouts/admin-aside') %>

    <div class="content">
        
        <div class="titles">
            <h2>Работы</h2>
        </div>

        <div class="titles">
            <h3>Редактировать работу</h3>
        </div>

        <form action="/admin/works/add" method="post" enctype="multipart/form-data">
            <div class="forma inputs">
                Заголовок: <input type="text" placeholder="Заголовок" name="title" value="<%= checkedItemId %>">
            </div>
            <div class="forma inputs">
                <input type="file" placeholder="Заголовок" name="image">
            </div>
            <div class="forma inputs">
                Текст: <textarea name="content" id="" cols="30" rows="10"></textarea>
            </div>

            <div class="forma inputs">
                <input type="submit" value="Add" name="submit">
            </div>
        </form>
       

        
    </div>

    </main>

</body>
</html>